h1 {
    text-align: center;
  }

body{
    text-align: center;
}




input[type=button], textarea {
    width: 25%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }